#app {
  width: 80vw;
  height: 80vw;
  margin: auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
}

button {
  flex-grow: 1;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
  background: white;
}

.disabled {
  cursor: not-allowed;
}

#restart {
  display: block;
  margin: 20px auto;
}
